body {margin:25px; font:11px Verdana,Arial; background:#eee}
ul.menu {list-style:none; margin:0; padding:0}
ul.menu * {margin:0; padding:0}
ul.menu a {display:block; color:#000; text-decoration:none}
ul.menu li {position:relative; float:left; margin-right:2px}
ul.menu ul {position:absolute; top:26px; left:0; background:#d1d1d1; display:none; opacity:0; list-style:none}
ul.menu ul li {position:relative; border:1px solid #aaa; border-top:none; width:148px; margin:0}
ul.menu ul li a {display:block; padding:3px 7px 5px; background-color:#d1d1d1}
ul.menu ul li a:hover {background-color:#c5c5c5}
ul.menu ul ul {left:148px; top:-1px}
ul.menu .menulink {border:1px solid #aaa; padding:5px 7px 7px; font-weight:bold; background:url(header.gif); width:134px}
ul.menu .menulink:hover, ul.menu .menuhover {background:url(header_over.gif)}
ul.menu .topline {border-top:1px solid #aaa}
label {
    width:100px;
    float:left;
}
.menu {height: 150px;}
.headerMenu {border:1px solid #aaa; padding:5px 7px 7px; font-weight:bold; background:url(header.gif); width:134px; font-size: 14px;}
.headerMenu:hover {background:url(header_over.gif);}
.headerMenu a {text-decoration:none; color: #000; font-size: 14px;}
.subMenu {padding:5px 7px 7px;}
.subMenu a {display:block; float:left; width: 100px; color:#000; background:url(header.gif); height:25px; text-decoration:none; border:1px solid #aaa; border-top:none; }
.subMenu a:hover {display:block; float:left; width: 100px; color:#000; background:url(header_over.gif); height:25px; text-decoration:none; border:1px solid #aaa; border-top:none; }
